/* src/components/MovieDetails.css */

.movie-details-container {
   
    height: 100vh; /* Adjust as necessary */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative; /* Needed for stacking context */
    
  }
  
  .movie-details {
    margin-top: 78px;
    max-width: 80%; /* Limit width to occupy half of the page */
    overflow: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); /* Semi-transparent white background */
    backdrop-filter: blur(10px); /* Add a blur effect to the background */
    border-radius: 10px; /* Rounded corners */
    text-align: left; /* Align text to the left */
    color: #0d0355; /* Text color */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
    overflow-wrap: break-word; /* Ensure long words break and wrap */
  }
  
  .movie-details:hover {
    transform: scale(1.05); /* Scale up on hover */
    background-color: rgba(255, 255, 255, 0.5); /* Lighten background on hover */
  }
  
  .movie-details h2 {
    font-size: 2.5rem; /* Example: Larger font size for title */
    margin-bottom: 10px; /* Example: Adjust spacing */
    color: black;
  }
  
  .movie-details p {
    font-size: 1.2rem; /* Example: Smaller font size for description */
    line-height: 1.6; /* Example: Adjust line height for readability */
    margin-bottom: 15px; /* Example: Adjust spacing */
  }

  .p-black{
    color: black;
  }

  .movie-controls-container {
    text-align: center;
    margin-top: 20px; /* Adjust spacing */
  }
  
  .link{
    color: black;
  }
  .link:hover{
    color:black;
  }
 

  /* AddMovieForm.css */

.add-movie-form-container {
  max-width: 600px;
  height: 80vh;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.add-movie-form {
  display: flex;
  flex-direction: column;
}

.add-movie-form input,
.add-movie-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.add-movie-form textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

.add-movie-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.add-movie-form button:hover {
  background-color: #0056b3;
}


/* EditMovieForm.css */

.edit-movie-form-container {
  max-width: 600px;
  height: 80vh;
  margin: auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.edit-movie-form {
  display: flex;
  flex-direction: column;
}

.edit-movie-form input,
.edit-movie-form textarea {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

.edit-movie-form textarea {
  resize: vertical; /* Allow vertical resizing of textarea */
}

.edit-movie-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

.edit-movie-form button:hover {
  background-color: #0056b3;
}


/* Style.css */

.star {
  font-size: 24px;
  color: #ccc;
}

.star.filled {
  color: gold;
}

.rating-container {
  display: flex;
  align-items: center;
}

.stars {
  margin-left: 10px;
}




.one{
  background : url("./space/1.png") ;
}
.two{
  background : url("./space/2.png") ;
}
.three{
  background : url("./space/3.png") ;
}
.four{
  background : url("./space/4.png") ;
}
.five{
  background : url("./space/5.png") no-repeat;
}
.six{
  background : url("./space/6.png") ;
}
.seven{
  background : url("./space/7.png") ;
}
.eight{
  background : url("./space/8.png") ;
}
.nine{
  background : url("./space/9.png") ;
}
 
/* .bg{
  background: url('./img/bg.jpg');
} */


.planets{
 height: 100vh;
 margin: 20px;
}

.movie-title{
  padding: 2px;
  margin: 2px;
}

.search-bar {
  margin-bottom: 20px; /* Example margin for spacing */
}

.search-bar input[type="text"] {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}